apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-169703853
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-169703853
    app.kubernetes.io/part-of: test-app-169703853
  name: java-quarkus-169703853
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-169703853
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-169703853
    spec:
      containers:
      - image: quay.io/hacdev/tyxexspi-tenant/test-app-169703853/java-quarkus-169703853@sha256:6721f2dbcbb83ac2e15e6d1d8d8cd3cc398e80a70421d8c742123dc8257f8abb
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
