apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-quarkus-169703853
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/tyxexspi-tenant/test-app-169703853/java-quarkus-169703853@sha256:6721f2dbcbb83ac2e15e6d1d8d8cd3cc398e80a70421d8c742123dc8257f8abb
        name: my-java-quarkus
        resources: {}
status: {}
